.contentListado{
    width: 100%;
    border: solid 1px black;
    padding: 20px;
    border-radius: 10px;
}

.listado{
    list-style: none;
    margin: 0;
    padding: 0;
}

.listado li{
    margin-top: 10px;
}

